#topRow {
  padding: 40px;
}

#enterWord {
  margin-bottom: 10px;
}


#letter-btn {
  margin: 5px;
  height: 50px;
  width: 50px;
  float: left;
}

.submittedWord {
  float: left;
  margin: 10px;
}

.the-word {
  height: 50px;
}

.group-of-buttons {
  margin-top: 30px;

}

.svg {
  background-color: grey;
}

